@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap&subset=latin-ext,vietnamese');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: url(./img/body_bg.gif);
  font-family: 'Asap', sans-serif;
  min-width: 570px;
}

.top-nav {
  background: url(./img/header-bg.jpg);
}


.container {
  padding: 0;
  max-width: 1000px;
}

.category-name {
  color: #dacb46;
}

.movies-board {

  display: flex;
  flex-wrap: wrap;
}

.MovieCard {
  padding: 0;
  display: flex;
}

.row {

  box-sizing: border-box;
  justify-content: flex-start;
}


.card {
  margin: 1rem 0;
  height: 371.15px;
  width: 210px;
  background: url(./img/item_bg.gif);
}



.card-body {
  padding: 5px 0 0 10px;
}

.card-title {
  font-weight: bold;
  color: white;
}


.footer {
  background: url(./img/header-bg.jpg);
  color: white;
  width: 100%;
  background-size: contain;
}